body {
    background-color: #E0E0E0;
}
.content{
    scale: 0.8;
    margin-top: -vw;
    border-style: solid;
    border-color: #000;
    padding: 30px;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
 }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
 }

@font-face {
    font-family: HennyPenny;
    src: url(fonts/HennyPenny-Regular.ttf);
   }
   @font-face {
       font-family: Domine;
       src: url(fonts/Domine-VariableFont_wght.ttf);
   }
   @font-face {
       font-family: Adamina;
       src: url(fonts/Adamina-Regular.ttf);
   }
   @font-face {
     font-family: Dm;
     src: url(fonts/DMSerifText-Regular.ttf);
}
.head{
    font-family: "HennyPenny";
    text-align: center;
    font-size: 50px;
}
.title{
    background-color: #000;
    height: fit-content;
    color: #E0E0E0;
    text-align: center;
    font-size: 3.9cm;
    font-family: "Dm";
}
.navbar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 1cm;
    font-family: 'Adamina';
    margin-top: 50px;
    font-weight: bold;
}
.Main{
    display: grid;
    grid-template-columns: repeat(250px, 1fr);
    grid-template-rows: repeat(500px, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 30px;
    margin-top: 50px;
    border-style: solid;
    border-width: 10px;;
    padding: 15px;
}
.tech{
    grid-area: 1 / 1 / 2 / 3; 
    font-family: "Dm";
    font-size: 2cm;
    border-style: solid;
    border-top: #E0E0E0;
    border-left: #E0E0E0;
    border-right: #E0E0E0;
    width: fit-content;
    height: fit-content;
    margin-left: 850px;
    margin-top: 10px;
}
button {
    grid-area: 1 / 1 / 2 / 3; 
    background-color: #000;
    border-style: solid;
    text-align: center;
    font-size: 40px;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    margin-right: 50px;
    font-family: "Dm;";
}

.button{
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
 }
button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
button:after {
    content: '«';
    position: absolute;
    opacity: 0;  
    top: 10px;
    left: -75px;
    transition: 0.5s;
}
  
  button:hover{
    padding-right: 24px;
    padding-left:30px;
}
  
  button:hover:after {
    opacity: 1;
    left: -40px;
 }
 a:link {
    color: #000;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #000;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #E0E0E0;
    background-color:black;
  }
  a.no:link {
    color: #E0E0E0;
    background-color: transparent;
    text-decoration: none;
  }
  a.no:visited {
    color: #E0E0E0;
    background-color: transparent;
    text-decoration: none;
}
.div2{
grid-area: 2 / 1 / 3 / 2;
border-style: solid;
border-width: 0.5px;
width: fit-content;
height: fit-content;
border-top: #E0E0E0;
border-left: #E0E0E0;
margin-left: 40px;
padding: 15px;
}
.iterative{
    font-family: "Dm";
    font-size: 1.3cm;
}
.iterativetext{
    font-family: "Domine";
    font-size: 0.8cm;
    width: 500px;
}
.div3{
    grid-area: 2 / 2 / 3 / 3;
    border-style: solid;
    border-width: 0.5px;
    width: fit-content;
    border-top: #E0E0E0;
    border-left: #E0E0E0;
    height: fit-content;
    padding: 15px;
    margin-top: 20px;
    margin-right: 170px;
}
.interactive{
    grid-area: 2 / 2 / 3 / 3;
    font-family: "Dm";
    font-style: italic;
    font-size: 0.9cm;
}
.interactivetext{
    grid-area: 2 / 2 / 3 / 3;
    font-family: "Domine";
    font-size: 0.8cm;
    width: 400px;
    height: fit-content;
}
.picture3{
    grid-area: 2 / 2 / 3 / 3;

}
.picture3 img{
    height: 300px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.picture3 img:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    transition: filter .3s ease-in-out;
}
.div4{
    grid-area: 3 / 1 / 4 / 2;
    border-style: solid;
    border-width: 0.5px;
    width: fit-content;
    border-top: #E0E0E0;
    border-left: #E0E0E0;
    height: fit-content;
    padding: 15px;
    margin-left: 40px;
    margin-top: -320px;
}
.target{
    font-size: 1.4cm;
    font-family: "Dm";
    grid-area: 3 / 1 / 4 / 2;
}
.targettext{
    grid-area: 3 / 1 / 4 / 2;
    font-family: "Domine";
    font-size: 0.9cm;
    width: 550px;
}
